


@media only screen and (max-width:1033px)
{  .logo
	{
		width: 10%;
	}
	.nav-left
	{
		width: 27%;
	}
	.left-nav-icon
	{
		padding: 0px 10px;
	}
	.search-bar
	{
		height: 32px;
	}
	.herotext
	{
	margin-top:8%;
	margin-right: 1%;
	width: 37%;
	}
	.c
	{
		height: 520px;
	}
	.png
{
	margin-top: 3%;
	width: 27%;
	
   
	 margin-LEFT: 14%;
    
}
	.herotext h1
	{
		font-size: 160%;
		letter-spacing:3pt;
	}
	

	.png1
	{
		width: 50%;
	}
	
	.nav-items 
	{
		width: 37%;
	}
	.nav-items li
	{
		margin-left:1%;
	}
}






@media only screen and (max-width:770px)
{
	body
	{
		font-size:16px;
		
		
	}
	.login-border
	{
	padding: 9px 10px 8px 10px;
	}
	.nav-left
	{
		width: 34%;
		margin-top: 3.3%;
	}
	.left-nav-icon
	{
		padding: 0px 15px;
		
	}
	.herotext
	{
	margin-top:10%;
	margin-left: 1%;
	line-height: 120%;
	width: 37%;
	}
	.c
	{
		height: 430px;
	}
	.png
{
	margin-top: 3%;
	width: 33%;
	
   
	 margin-LEFT: 14%;
    
}
	.herotext h1
	{
		font-size: 170%;
		letter-spacing:2pt;
	}
		.herotext h4
	{
		width:99px;
	}
	
	.png1
	{
		width: 65%;
		margin-left:-7%;
	}
	.mobile-nav-icon
	{
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		position: absolute;

		float:left;
		font-size: 150%;
		margin-top: 3.5%;
		color:rgb(253, 70, 70);
	}
	
	.logo
	{ left:43%;
		top:6px;
		width: 14%;
		float:left;
		position: relative;
	}
	.ion-close-round
	{ 
	   padding: 5px 140px 5px 140px;
		
		
		top:-24px;
		border: 1px solid #d9d9d9;
		position:absolute;
		left:-10px;
		
	
	
		background-color: rgb(255, 255, 255);
	}
	.ion-close-round:hover
	{
		color:#f51743;
	}
	.search-bar
	{
		width: 32%;
		margin-top: 3.2%;
		float:left;
	margin-left: -6%;
		height: 34px;
		
		
	}
	.nav-items 
	{ top:21px;
		width:298px;
		position:absolute;
		text-align: center;
		
		left:-2%;
		
		background-color: rgba(255, 255, 255, 0.88);
		float:left;
		 
		max-height:0px;
		overflow: hidden;
		
		
	}
	.showing
	{
		max-height: 466px;
		z-index: 3000;
		height: 466px;
		padding: 20px;

	}
	.nav-items li 
	{
		display: block;
		
		

		
	}
	.nav-items li a
	{ 
		border-bottom: 1px solid #c4c4c4;
		color:#4b4b4b;
		font-size: 80%;
		padding:20px 4px;
		display: block;
	
		
	}
	.nav-items a:hover
{
    border-bottom:1px solid #f51743;
	font-size: 80%;
    color:#0b0b0b;
}
	nav
	{
		height: 70px;
	}
	.slider-icon i
	{
		top:200px;
	font-size: 120%;
	
	
	left:25px;
	}
	.slider-icon i:active
	{
		color:#f51743;
	}
	.herotext h4
	{
		width: 130px;
	}
	
}

	
	


@media only screen and (max-width:667px)
	{
		.c
		{
			height: 320px;
		}
		.showing
	{
		max-height: 466px;
		z-index: 3000;
		height: 400px;
		padding: 20px;

	}
		.nav-left
	{
		width: 36%;
		margin-top: 3.9%;
	}
		.herotext
		{
			font-size:16px;
		margin-right: 2px;
		width:43%;
		}
		.png
		{
			width: 28%;
			margin-top: 2%;
		}
		.png1
		{
			width: 55%;
			
		}
		.png-nd-hero
		{
			top:50px;
		}
		
	}
@media only screen and (max-width:600px)
	{
		
		.showing
	{
		max-height: 466px;
		
		height: 380px;
		

	}
		.login-border
		{
			padding: 7px 10px 7px 10px;
		}
			.nav-left
	{
		width: 32%;
		
	}
		.left-nav-icon
	{
		padding: 0px 7px;
	}
	.herotext
	{
	
	font-size:16px;
	margin-right: 1px;
	width:46%;
	}
		.slider-icon i
	{
		top:160px;
	font-size: 120%;
	
	
	left:20px;
	}
		.logo
	{
		width: 15%;
	}
		.png1
	{
		width: 59%;
	}
		
	
	.c
	{
		height: 365px;
	}
	nav
	{
		height: 60px;
	}
	.search-bar
	{
		height:30px;
		margin-top: 3.3%;
		width: 30%;
	}
	
	.nav-items 
	{
		top:22px;
	}
	.ion-close-round
	{
		top:-21px;
	}
	
	
	
}


@media only screen and (max-width:568px)
{
		.showing
	{
		max-height: 466px;
		
		height: 340px;
		

	}
	.left-nav-icon
	{
		padding: 0px 5px;
		
	}
	.nav-left a
	{
		margin-right: 1px;
	}
		.nav-left
	{
		width: 36%;
		margin-top: 3%;
	}
	.herotext
	{
		
	font-size:14px;
	margin-right: 1px;
	width:50%;
	}
	.login-border
		{
			padding: 7px 6px 7px 6px;
		}
	.c
	{
		height: 280px;
	}
	.search-bar
	{
		height: 28px;
		width: 30%;
	}
	.png1
	{
		width: 55%;
		margin-top: 7%;
		
	}
	nav
	{
		height: 50px;
	}
	.png
	{
		width: 28%;
		margin-top: 4%;
	}
	.herotext p
	{display: none;
	}
	.herotext h4
	{
		margin-left: 12.5%;
		margin-top: 1px;
		
		width: 120px;
	}
	.png-nd-hero
	{
		top:60px;
	}
	
}


@media only screen and (max-width:414px)
{
	.png1
	{
		margin-top:12%;
		width: 53%;
	}
	.nav-left
	{
		width: 40%;
	}
	.herotext
	{
	font-size:13px;
	margin-right: 0px;
	width:52%;
	}
	.left-nav-icon
	{
		padding: 0px 4px;
		font-size: 25px;
		
	}
	.herotext p
	{
		display: none;
	}
	.herotext h1
{   color:#ededed;
	font-weight:300;
	line-height: 120%;
	 
	
	
	text-transform: uppercase;
	letter-spacing:1pt;
}
	.logo
	{
		width: 18%;
	}
	.slider-icon i
	{
		top:150px;
	font-size: 100%;
	
	
	left:10px;
	}
	.search-bar
	{
		height: 25px;
		margin-left: -8%;
	}
	.c
	{
		height: 270px;
	}
	.png
	{
		width: 35%;
	}
	.med-icon
	{
		padding: 1px 8px 18px 7px;
	}
	
}

@media only screen and (max-width:384px)
{
	
	
	.med-icon
	{
		padding: 0px 5px 15px 3px;
	}
	
	.search-bar
	{
		height: 23px;
		margin-left: -9%;
		margin-top: 3.9%;
	}
	.png1
	{
		width: 60%;
		 margin-LEFT: 1%;
		
		
	}
	.slider-icon i
	{
		top:130px;
	font-size: 100%;
	
	right: 20px;
	
	
	}
	.png
	{
		width: 40%;
	}
	.herotext
	{
		width: 25%;
		margin-top: 22%;
		margin-right: 13%;
	}
	.herotext h1
	{
		display: none;
		
	}
}
@media only screen and (max-width:320px)
{
	.png1
	{
		display: none;
	}
	.png
	{
display: none}
	.herotext h1
	{
		display:block;
		font-size: 29px;
		
		padding: 0px;
		
	}
	.herotext h4
	{
		margin: auto;
		margin-top: 10px;
	}
	.herotext p
	{
		display: block;
		font-size: 14px;
	
		
	}
	.search-bar
	{
		display: none;
	}
	.c{
		height: 240px;
	}
	.herotext
	{
		width: 90%;
		text-align: center;
		margin-top: 0%;
		margin: auto;
		
	
	}
	.nav-left
	{
		width: 60%;
	}
		.left-nav-icon
	{
		padding: 0px 7px;
		font-size: 27px;
		
	}
	
	.logo
	{
		width: 24%;
		left:15%;
	}
}







